<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
{% load static from staticfiles %}
	<head>
		<title> Vantage Point - Post Assessment </title>
	
	<meta name="google-site-verification" content="KPrCTIkFg3RCIWPoYvQO3QBnFcEqKflrEQI_6ztrwzE" />
	{% block styles %}
		<!-- lol why dis so hard.. arrangement of static, quotes, { % % }, and version|safe -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
		<link rel='stylesheet' href="{% static "css/fonts.css" %}?{{ version|safe }}" type='text/css'>	 
		<link rel='stylesheet' href="{% static "css/survey_pre.css" %}?{{ version|safe }}" type='text/css'>	 

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,400,600,800" rel="stylesheet">



	{% endblock %}

	{% block scripts %}
		<script src='{% static "js/jquery-1.11.0.min.js" %}'></script>
		<script>
			var csrf = "{{csrf}}";
			var form_field_ids = "{{form_field_ids}}";
			var url = 'https://script.google.com/macros/s/AKfycbxix0W5oT4Gi2Po1S4GEj0_bfC0QRiFcjAj-QXmF5PidgmmqdI/exec';
			var sheetName = "POST";
			dataFields = []; 
	

		</script>
		<script src='{% static "js/survey_pre.js" %}'></script>


	{% endblock %}
	</head>


<body>
	<input type="hidden" class="hidden_form_field" data-required="true" form_field_id="sessionId" value="{{session_id}}" />
	<div id="topWrapper">
		<div id="topContainer">	
			<div id="topLeft">	
				<div class='overlay'></div>
					
			</div>
		</div>
	</div>
	<div id="container">
		<div id="pre-assessment">
			<div class="title">
				Post Assessment	
			</div>	
			<div class="subtitle">
				Your responses will be kept private.
			</div>	
			<div class="vertical-line"></div>

			{% for item in survey_items %}
				<div id="{{item.number}}" class="item {{ item.display_trigger }}" style="display:{{ item.display_status }}" display_trigger_elements="{{item.display_trigger_elements}}">
					<div class="number">{{ item.number }} </div>
					<div class="question"><span class="red-dot" style="color:red;">• </span>{{ item.question }}</div>
					<div class="options">
						<ul>
							{% for option in item.options %}
								<li class="{{item.options_class}}"> 
									<div class="{{item.options_class_li}}">
										{{ option }} 
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
					<input type="hidden" class="hidden_form_field" data-required="{{item.required}}" form_field_id="{{item.form_field_id}}" value="" />
					{% if item.scale %}
					<div class="scale">
						<div class="left">NOT AT ALL</div>
							<div class="red-green-bar"></div>
						<div class="right">VERY </div>

					</div>
					{% endif %}
				</div>
			{% endfor %}
		
			<div class="acknowledgement">
				<input type="hidden" class="hidden_form_field" data-required="true" form_field_id="acknowledgement" value="" />
				<span class="checkbox"></span>I certify that the above is true and accurate to the best of my ability.<span class="red-dot" style="color:red;">• </span>
			</div>
			<div id="submitForm" class="sendButton">SEND </div>
		</div>		
	</div>
	
</div>
	<!-- WebGL player requires references to the static Build folder -->

<!-- todo: Move this to Base -->
<div id="footer">
	<div class="container">	
		<div class="companyName">
			VANTAGE POINT
		</div>
		<div class="help">
			Having problems with the web app? <a target="_blank" href="mailto:morgan@tryvantagepoint.com?subject=Help%20With%20Web%20Form"> Contact Us </a>
		</div>
	</div>
</div>

</body>

