@font-face {
  font-family: 'Gotham-Medium';
  src: url('/static/fonts/Gotham-Medium.otf') format('opentype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Avenir';
  src: url('/static/fonts/Avenir-Medium-09.otf') format('opentype');
  font-weight: medium;
  font-style: medium;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('/static/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: light;
  font-style: light;
}
@font-face {
  font-family: 'Helvetica-Light';
  src: url('/static/fonts/Helvetica-Light-05.ttf') format('truetype');
  font-weight: light;
  font-style: light;
}


@font-face {
  font-family: 'Helvetica';
  src: url('/static/fonts/Helvetica-01.ttf') format('truetype');
  font-weight: regular;
  font-style: regular;
}



