* {
font-family: 'Open Sans', sans-serif;
}

body {
	
	background-size:cover;
 background-repeat: no-repeat;
    background-attachment: fixed;

}
#container {
	position:relative;
	height:30px;
	width:960px;
	margin: 0 auto;
	text-align:center;
}


