#topContainer {
	position:relative;
	width:960px;
	margin:0 auto;
}
#topLeft {
	width:calc(100% - 320px);
	height: 640px;
	background-image:url('/static/img/bg2.png');
	background-size:cover;

}


/* Top right section */
#topWrapper {
	background-color:white;
	width:100%;
}
#userInfo {
	font-size:13px;
	position:absolute;
	top:0;
	width:320px;
	right:0;
	height:640px;
	text-align:center;
/*	border-right:1px solid #eee;	*/
	font-family:Helvetica-Light;
}

#userInfo .title {
	margin-top:70px;
	position:relative;
	font-size:20px;
	font-family:Avenir;
	text-align:center;
}

#userInfo .subtitle {
	position:relative;
	font-size:1.2em;
	margin-top:8px;
	text-align:center;
	
}

#userInfo .inputList {
	position:relative;
	top:10px;
	width:240px;
	margin:0 auto;
	padding:0;
	text-align:left;
	list-style-type:none;
}
#userInfo .inputList .name {
	position:Relative;
	top:10px;
	margin-bottom:20px;
}

#userInfo .label {
	top:20px;
	position:relative;
	font-family:OpenSans-Light;
}

#userInfo input {
	font-family:Helvetica-Light;
	font-size:1.2em;
	width:100%;
	position:relative;
	margin-top:20px;
	font-weight:light;
	border: 0;
	border-bottom:1px solid #ccc;
}


.carousel_container {
	position:relative;
	width:calc(100% - 5px);
	margin-left:2px;
	overflow:hidden;
	padding-top:10px;
}
.carousel {

	display:tabel-row;
	text-align:left;
	margin:0;padding:0;
	margin-top:20px;
	font-size:22px;
	height:32px;
	vertical-align:center;
	line-height:60px;
	height:60px;
}

.leftFade, .rightFade {
	pointer-events:none;
	position:absolute;
	left:2px;
	height:80px;
	width:50px;
background: -moz-linear-gradient(left, hsla(0,0%,100%,1) 0%, hsla(0,0%,100%,0) 100%);
background: -webkit-linear-gradient(left, hsla(0,0%,100%,1) 0%,hsla(0,0%,100%,0) 100%);
background: linear-gradient(to right, hsla(0,0%,100%,1) 0%,hsla(0,0%,100%,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.rightFade {
	position:relaive;
	top:0;
	left:calc(100% - 50px);

background: -moz-linear-gradient(right, hsla(0,0%,100%,1) 0%, hsla(0,0%,100%,0) 100%);
background: -webkit-linear-gradient(right, hsla(0,0%,100%,1) 0%,hsla(0,0%,100%,0) 100%);
background: linear-gradient(to left, hsla(0,0%,100%,1) 0%,hsla(0,0%,100%,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}


#userInfo .carousel li {
	
	display:tabel-cell;
	margin:0;padding:0;
	width:38px;
	font-size:0.8em;
	display:inline-block;
	transition: .3s all;	
	text-align:center;
	vertical-align: middle;
	color:#ccc;
}
#userInfo .carousel li:hover {
	cursor:pointer;
}

#userInfo .carousel li.selected {
	font-size:1.5em;
	color:black;
	transition: .3s all;	
	width:48px;
	font-weight:bold;
}

.requiredLabelTop {
	position:absolute;
	bottom: 0;
	right:0;	
/*	font-style:italic; */
	color:#ccc;
}

#userInfo .multichoice {
	border: 0;
	overflow: visible;
}
#userInfo .multichoice > ul {
	list-style-type:none;
	margin:0;border:0;padding:0;
	margin-top:20px;
	margin-left:-10px;
	overflow:visible;
	white-space:nowrap;
}

#userInfo .multichoice ul li:hover {
	cursor:pointer;
}
#userInfo .multichoice ul li {
	font-family:Avenir;
	padding: 12px 22px 9px 22px;
	display:inline-block;
	border-radius:5px;
	color:gray;
	border: 1px solid gray;
	margin: 0 5px;
}
#userInfo .multichoice ul li.selected {
	border:1px solid #43B963;
	font-weight:bold;
	color:#43B963;
}
#userInfo .multichoice ul li:first-child {
	margin-left:0;
}

#userInfo .sexual-orientation ul li {
	padding: 13px 12px 10px 12px;
	font-size:0.9em;
	margin: 0 1px;
}


.label2 {
	margin-top:30px;
	text-align:left;
}

/* *** END TOP RIGHT *** */


