{% load static %}
	<head>
		<title> HOTKEY.TV </title>
	
	<meta name="google-site-verification" content="KPrCTIkFg3RCIWPoYvQO3QBnFcEqKflrEQI_6ztrwzE" />
	{% block styles %}
	
		<link rel='stylesheet' href="/static/css/home.css"|add:version|safe %} type='text/css'>
		<link rel='stylesheet' href="/static/css/imageviewer.css"|add:version|safe %} type='text/css'>
		<link rel='stylesheet' href="/static/css/vimeoPopup.css"|add:version|safe %} type='text/css'>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,400,600,800" rel="stylesheet">
	{% endblock %}

	{% block scripts %}
		<script src='{% static "js/jquery-1.11.0.min.js" %}'></script>
		<script src='static/js/home.js'|add:version|safe %}'></script>
		<script src='static/js/imageviewer.js'|add:version|safe ></script>
		<script src='static/js/vimeoPopup.js'|add:version|safe ></script>
		<script src='static/js/scrollcontrol.js'|add:version|safe ></script>
	{% endblock %}
	</head>
<body>


<div id="imageOverlay">
	<div class="currentImage"></div>
</div>



	<div id="vimeoPopupContainer" style="">
		<div id="vimeoPopup" style="">
			<iframe id="vimeo_iframe" src="https://player.vimeo.com/video/178361265" style="margin: 0 auto;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>


<div id="container">
	<div id="top">
		<div class="title">
			<h1> Hotkey.tv</h1>
		</div>
	</div>
</div>

</body>
